<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<div class="classify">
			<ul class="oneClassify">
			</ul>
		</div>
		<script type="text/html" id="classify">
			{{each list  value key}}
				<li>
					<a href="javascript:;" name="{{value.id}}">{{value.name}}</a>
					{{include 'classifyChild' value}}
				</li>
			{{/each}}
		</script>
		<script type="text/html" id="classifyChild">
			<ul class="twoClassify twoClassifyNone">
				{{each child  child key}}
					<li>
						{{if child.child.length==0}}
							<a href="javascript:;" name="{{child.id}}" class="classifyLast">{{child.name}}</a>
						{{else}}
							<a href="javascript:;" name="{{child.id}}">{{child.name}}</a>
						{{/if}}
						{{include 'classifyChild' child}}
					</li>
				{{/each}}
			</ul>
		</script>
		<div class="wrap">
			<div class="photoQuery">
				<input type="hidden" class="inputClassify" value="220634"/>
				<ul class="fs0">
					<li>
						<span>标题：</span>
						<input class="title" />
					</li>
					<li>
						<span>摘要：</span>
						<input class="digest" />
					</li>
					<li>
						<span>关键字：</span>
						<input class="keyword" />
					</li>
					<li>
						<span>开始时间：</span>
						<input name="date" class="date startTime" />
					</li>
					<li>
						<span>结束时间：</span>
						<input name="date" class="date endTime" />
					</li>
					<li class="button">
						<button id="type_btn1" type="button" class="btn search">搜索</button>
						<button id="type_btn1" type="button" class="btn downNone down" disabled="disabled">下载</button>
					</li>
				</ul>
			</div>
			<div class="photoMain">
				<ul class="fs0 data">
					<script type="text/html" id="data">
						{{each resultList  value key}}
						<li>
							<label for="{{value.resId}}">
								<img src="{{value.smallPic}}" name="{{value.previewPic}}" /> 
							<div>
								<p>关键字：{{value.caption}}</p>
								<p>标题：{{value.groupTitle}}</p>
							</div>
							{{if value.status==0}}
								<div class="downFlag dontDown"></div>
							{{else}}
								<div class="downFlag hadDown"></div>
							{{/if}}
							<input type="hidden" class="ids" value={{value.resId}}>
							</label>
							
							<input type="checkbox" name="photo" class="inputNone imgCheck" id={{value.resId}}>
							
						</li>
						{{/each}}
					</script>
				</ul>
			</div>
			<div class="page">
				<ul>
					
				</ul>
			</div>
		</div>
		<a href="javascript:;" class="upTop"><span></span></a>
		<div class="downBar downBarNone">
			<ul>
				<li class="downNone">
					<span>部门：</span>
					<input placeholder="部门" class="department" />
				</li>
				<li class="downNone">
					<span>编辑：</span>
					<input placeholder="编辑" class="edit" />
				</li>
				<li>
					<button class="downCancel">取消</button>
					<button class="downSure">下载</button>
				</li>
			</ul>
		</div>
	</body>
	<script src="js/lib/jquery-3.1.1.js"></script>
	<script src="js/lib/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="js/lib/arttemplate.js"></script>
	<script src="js/lib/require.js" data-main="js/index"></script>
</html>